<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
    font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Feedback</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div class="wrapper">

    <div class="text1 EudoxusSansReg">Name</div>
    <div class="inputfieldtransparent"
      style="width: 100%; height: 64px; margin-bottom:20px; display: flex;border: 1.5px solid #969D9F !important;">
      <input [(ngModel)]="name" class="input EudoxusSansReg" type="text" placeholder="Name" />
    </div>

    <div class="text1 EudoxusSansReg">Email</div>
    <div class="inputfieldtransparent"
      style="width: 100%; height: 64px; margin-bottom:20px; display: flex;border: 1.5px solid #969D9F !important;">
      <input [(ngModel)]="email" class="input EudoxusSansReg" type="email" placeholder="Email Address" />
    </div>

    <div class="text1 EudoxusSansReg">Subject</div>
    <div class="inputfieldtransparent"
      style="width: 100%; margin-bottom:20px; display: flex;border: 1.5px solid #969D9F !important;">
      <ion-textarea [(ngModel)]="desc" class="input EudoxusSansReg" rows="7" cols="5" type="text"
        placeholder="Enter here"></ion-textarea>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" style="background: #e9f5ec;">
  <div style="width:93%;margin:0% auto 5%;">
    <ion-button style="margin-top: 5%;" class="btnbggreen EudoxusSansReg" (click)="send()">
      Send</ion-button>
  </div>

</ion-footer>