.wrapper{
    width: 90%;
    margin: 5% auto;
}
.box{
	padding: 12px 16px;
	margin-bottom: 5%;
	background: #FFFFFF;
	border-radius: 25px;
}
.text{
	font-weight: 700;
	font-size: 16px;
	color: #121826;
}
p{
	font-weight: 400;
	font-size: 12px;
	color: #121826;
	line-height: 1.6;
  text-align: justify;
}