.title{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4BD16F;
}

.desc{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #969D9F;
}
.cicon{
  color: #D3D5DA;
  font-size: 12px;
}
.item.item-input {
	border: none;
	position: relative;
    
    left: 0px;
    top: 135px;
    background-color: transparent;
    width:100%;
}
.item.item-input span{width:auto;}
.item.item-input input{width:68%;}