<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style="width: 90%; margin:40px auto 0px; ">
      <img style="width: 100%" src="assets/imgs/d1.svg" />

    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="width: 90%; margin: 40px 5%">


    <div style="
        display: flex;
        margin-top: 30px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      ">
      <p class="title EudoxusSansReg">Welcome..!</p>

      <div style="width: 100%; text-align: center">
        <img style="margin: 20px 0px 30px 0px; height: 72px; width: 176px" src="assets/imgs/logo.svg" />
      </div>

      <p class="desc EudoxusSansReg">Create your Swap Circle account.</p>

      <div style="margin-top:10%;">
        <div style="position: relative;">
          <img src="{{profileimage}}" style=" border-radius: 90%;width: 120px;
          height: 120px;">
          <img style="position: absolute;
        bottom: 0px;
        right: 0px;
        width: 40px;" src="assets/imgs/addicon.svg" (click)="chooseImage()">
        </div>
      </div>
      <!-- input 1 -->
      <div class="inputfieldtransparent" style="width: 100%; height: 64px; margin-top:30px; display: flex"
        *ngIf="customertype=='Individual'">
        <img style="margin: 17px 17px 17px 15px" src="/assets/signup/human.svg" />
        <input [(ngModel)]="fname" class="input EudoxusSansReg" type="text" placeholder="First Name" />
      </div>

      <!--customertype= Company -->
      <div class="inputfieldtransparent" style="width: 100%; height: 64px; margin-top: 40px; display: flex"
        *ngIf="customertype=='Company'">
        <img style="margin: 17px 17px 17px 15px" src="/assets/imgs/company.svg" />
        <input [(ngModel)]="fname" class="input EudoxusSansReg" type="text" placeholder="Company name" />
      </div>

      <!-- input 2 -->
      <div class="inputfieldtransparent" style="width: 100%; height: 64px; margin-top: 20px; display: flex"
        *ngIf="customertype=='Individual'">
        <img style="margin: 17px 17px 17px 15px" src="/assets/signup/human.svg" />
        <input [(ngModel)]="sname" class="input EudoxusSansReg" type="text" placeholder="Surname" />
      </div>
      <!--customertype= Company -->
      <div class="inputfieldtransparent" style="width: 100%; height: 64px; margin-top: 20px; display: flex"
        *ngIf="customertype=='Company'">
        <img style="margin: 17px 17px 17px 15px" src="/assets/signup/human.svg" />
        <input [(ngModel)]="sname" class="input EudoxusSansReg" type="text" placeholder="Representative name" />
      </div>
      <!-- input 3 -->
      <div class="inputfieldtransparent" style="width: 100%; height: 64px; margin-top: 20px; display: flex">

        <div style="align-items: center;display: flex;
        padding: 8px 5px 6px 15px;" (click)="openfflaglist()">
          <div class="text1">
            <img src="assets/imgs/flag1.svg" *ngIf="showimage==false">
            <img src="{{flagimage}}" *ngIf="showimage==true" style="width:30px;height: 18px;border-radius: 90px;">
          </div>
          <div style="width: 100%;text-align: end;" *ngIf="upicon==false">
            <ion-icon name="caret-down-outline" class="cicon"></ion-icon>
          </div>
          <div style="width: 100%;text-align: end;" *ngIf="upicon==true">
            <ion-icon name="caret-up-outline" class="cicon"></ion-icon>
          </div>
        </div>
        <input [(ngModel)]="callingcode" class="input EudoxusSansReg" type="tel" style="width: 50px!important;">
        <input [(ngModel)]="num" class="input EudoxusSansReg" type="tel" placeholder="Phone number" id="fname"
          (ionChange)="updateList($event)">
      </div>
      <!-- flag list shown -->
      <div *ngIf="flaglist==true" style="width: 100%;">
        <ion-list style="height: 150px;overflow: scroll;">
          <ion-item *ngFor="let item of items" (click)="viewDetails(item)">
            <ion-avatar item-start>
              <img [src]="item.flag" style="width: 30px;
              height: 30px;">

            </ion-avatar>
            <div style="font-size: 13px;
            color: #969D9F !important;
            margin-top: -6px;">{{item.callingCodes[0]}}</div>
          </ion-item>
        </ion-list>
      </div>
      <!-- flag list shown -->


      <!-- input 4 -->
      <div class="inputfieldtransparent" style="width: 100%; height: 64px; margin-top: 20px; display: flex">
        <img style="margin: 17px 17px 17px 15px" src="/assets/signup/email.svg" />
        <input [(ngModel)]="email" class="input EudoxusSansReg" type="text" placeholder="Email address" />
      </div>



      <ion-button style="margin: 50px 0px 15px 0px" class="btnbggreen EudoxusSansReg"
        (click)="goNext()">Next</ion-button>

      <div>
        <p style="
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: #969d9f;
            flex: none;
            order: 0;
            flex-grow: 0;
          " class="EudoxusSansReg">
          Have an account?
          <span (click)="goToSignin()" style="
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              display: flex;
              align-items: center;
              color: #4bd16f;
              flex: none;
              order: 1;
              flex-grow: 0;
              margin-left: 5px;
            ">
            Sign In</span>
        </p>
      </div>
    </div>
  </div>
</ion-content>