<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup4</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--background: transparent;">
  <div class="wrapper">
    <div style="text-align: center;">
      <p class="p1 EudoxusSansReg">Please Wait... </p>
      <p class="p2 EudoxusSansReg">Verifying your id</p>
      <div>
        <img src="assets/signup/loading.svg">
      </div>
    </div>
    <div style="margin-top: 10%;">
      <img src="assets/signup/hiring.svg">
    </div>
  </div>

</ion-content>