.wrapper{
 position: fixed;
 bottom: 5%;
 left: 5.5%;
}
.p1{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 4%;

}
.p2{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #4BD16F;
  margin-bottom: 4%;

}