<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
      font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Offer Requests</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div class="wrapper" *ngFor="let item of reqarr">
    <ion-row class="rowcls">
      <ion-col size="2.5">
        <img src="https://swap.eigix.net/public/{{item.user_data.profile_pic}}" style="border-radius:90%;
        height: 50px;
        width: 50px;">
      </ion-col>
      <ion-col size="6.3">
        <div class="text1 EudoxusSansReg">{{item.user_data.first_name}}{{item.user_data.last_name}}</div>
      </ion-col>
      <ion-col size="3.2" style="text-align: end;">
        <ion-button class="btn1" (click)=" acceptrequest(item)">Accept</ion-button>
        <!-- <ion-button class="btn2">Reject</ion-button> -->
      </ion-col>
    </ion-row>
  </div>

</ion-content>