<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
      font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Offer Requests</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div class="wrapper" *ngFor="let item of reqarr">
    <ion-row class="rowcls">
      <ion-col size="2.5">
        <img src="https://swap.eigix.net/public/{{item.user_data.profile_pic}}" style="border-radius:90%;
        height: 50px;
        width: 50px;">
      </ion-col>
      <ion-col size="6.3">
        <div class="text1 EudoxusSansReg">{{item.user_data.first_name}}{{item.user_data.last_name}}</div>
      </ion-col>
      <ion-col size="3.2" style="text-align: end;">
        <ion-button class="btn1" (click)=" acceptrequest(true,item)">Accept</ion-button>
        <!-- <ion-button class="btn2">Reject</ion-button> -->
      </ion-col>
    </ion-row>

    <ion-modal id="example-modal" #modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <div class="container">
          <div style="display: flex;align-items: center;
          justify-content: center;">
            <div class="mtxt EudoxusSansReg">{{from_currency_symbol}}1</div>
            <img src="assets/imgs/reset1.svg" style="width: 40px;
            height: 40px;
            margin: 0% 5%;">
            <div class="mtxt EudoxusSansReg">{{to_currency_symbol}}{{exchange_rate}}</div>
          </div>
          <div style="display: flex;
          flex-direction: column;
          margin-top: 8%;">
            <div class="c-flex">
              <div class="mtxt1 EudoxusSansReg">Amount</div>
              <div style="display: flex;
              align-items: center;
            ">
                <img src="assets/imgs/curricon.svg">
                <div class="label1 EudoxusSansReg">{{from_currency_symbol}}{{from_amount}}</div>
              </div>

            </div>
            <div class="c-flex">
              <div class="mtxt1 EudoxusSansReg">Converted Amount</div>
              <div style="display: flex;
              align-items: center;
             ">
                <img src="assets/imgs/curricon2.svg">
                <div class="label2 EudoxusSansReg">{{to_currency_symbol}}{{convertedamt}}</div>
              </div>

            </div>

            <div class="c-flex">
              <div class="mtxt1 EudoxusSansReg">Base Amount</div>
              <div style="display: flex;
              align-items: center;
              ">
                <img src="assets/imgs/curricon3.svg">
                <div class="label3 EudoxusSansReg">{{currsymbol}}{{baseamt}}</div>
              </div>

            </div>

          </div>
          <p class="pp EudoxusSansReg">Note: Are you sure to accept this offer?</p>
          <div style="text-align: center;">
            <ion-button style="margin-top: 5%;" class="btnmodal EudoxusSansReg" (click)="setClose(false,item)">
              Accept Offer</ion-button>
          </div>

        </div>
      </ng-template>
    </ion-modal>
  </div>

</ion-content>