.title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4BD16F;
  }
  
  .desc{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #969D9F;
  }
  .flex-c{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top:3%;
  }
  .text1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #969D9F;
    padding-left: 1%;
  }
  
  