.wrapper{
    width: 93%;
    margin: 5% auto;
}
.rowcls{
    background: #FFFFFF;
    border-radius: 25px;
    padding: 5px 10px;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
}
.text1{
    font-size: 16px;
    font-weight: 700;
    color: #121826;
    
}
.text2{
    font-size: 12px;
    font-weight: 700;
    color: #121826;
    margin-top: 3px;
}
.text3{
    font-weight: 300;
    font-size: 10px;
    color: #969D9F;
    text-align: end;
}
ion-badge{
    float: right;
    border-radius: 90px;
    width: 18px;
    height: 18px;
    font-size: 10px;
    padding: 4px 5px;
    background: #4BD16F;
    color: #fff;
    margin-top: 12px;
    margin-right: 2px;
}

ion-fab{
    bottom: 30px;
    right: 20px
}
ion-fab-button{
    --background: #4BD16F;
    --color: #fff;
}