<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
      font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Message</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec">
  <div class="wrapper">
    <ion-row class="rowcls" *ngFor="let item of chat" (click)="goto()">
      <ion-col size="2">
        <img src="https://swap.eigix.net/public/{{item.user_image}}" style="border-radius: 90%;">
      </ion-col>
      <ion-col size="7">
        <div class="text1 EudoxusSansReg">{{item.first_name}}</div>
        <div class="text2 EudoxusSansReg">{{item.last_message}}</div>
      </ion-col>
      <ion-col size="3">
        <div class="text3 EudoxusSansReg">{{item.date}}</div>
        <ion-badge *ngIf="item.chatopen==0">2</ion-badge>
      </ion-col>
    </ion-row>

  </div>

</ion-content>