<ion-content>
  <div class="wrapper">
    <div style="margin-top: 10px; width: 100%; text-align: center">
      <img style="height: 72px; width: 176px" src="assets/imgs/logo.svg" />
    </div>
    <div class="text1 EudoxusSansReg">Reset Password</div>


    <div class="inputfieldtransparent"
      style="width: 100%; height: 64px; margin-top: 35px; display: flex;border: 1px solid #969D9F !important;">
      <img style="margin: 17px 17px 17px 15px" src="/assets/signup/lock.svg" />
      <input [(ngModel)]="newpass" class="input EudoxusSansReg" type="password" placeholder="New password" />
      <img style="margin: 17px 17px 17px 15px" src="/assets/signup/closeeye.svg" />
    </div>


    <div class="inputfieldtransparent"
      style="width: 100%; height: 64px; margin-top: 20px; display: flex;border: 1px solid #969D9F !important;">
      <img style="margin: 17px 17px 17px 15px" src="/assets/signup/lock.svg" />
      <input [(ngModel)]="confirmpass" class="input EudoxusSansReg" type="password" placeholder="Confirm password" />
      <img style="margin: 17px 17px 17px 15px" src="/assets/signup/closeeye.svg" />
    </div>


    <ion-button style="margin: 50px 0px 15px 0px" class="btnbggreen EudoxusSansReg"
      (click)="goNext()">Reset</ion-button>


  </div>

</ion-content>