<!-- <ion-header>
  <ion-toolbar>
    <ion-title>offerpopup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <div style="display: flex;align-items: center;
    justify-content: center;">
      <div class="mtxt EudoxusSansReg">£1</div>
      <img src="assets/imgs/reset1.svg" style="width: 40px;
      height: 40px;
      margin: 0% 5%;">
      <div class="mtxt EudoxusSansReg">₦890.00</div>
    </div>
    <div style="display: flex;
    flex-direction: column;
    margin-top: 8%;">
      <div class="c-flex">
        <div>Ammount</div>
        <div style="display: flex;
        align-items: center;
        margin-left: 12%;">
          <img src="assets/imgs/curricon.svg">
          <div class="label1 EudoxusSansReg">₦889.00</div>
        </div>

      </div>
      <div class="c-flex">
        <div>Ammount</div>
        <div style="display: flex;
        align-items: center;
        margin-left: 12%;">
          <img src="assets/imgs/curricon2.svg">
          <div class="label2 EudoxusSansReg">₦889.00</div>
        </div>

      </div>
      <!-- <div class="c-flex"><img src="assets/imgs/curricon2.svg">
        <div class="label2 EudoxusSansReg">₦889.00</div>
      </div> -->
      <div class="c-flex">
        <div>Ammount</div>
        <div style="display: flex;
        align-items: center;
        margin-left: 12%;">
          <img src="assets/imgs/curricon3.svg">
          <div class="label3 EudoxusSansReg">₦889.00</div>
        </div>

      </div>
      <!-- <div class="c-flex"><img src="assets/imgs/curricon3.svg">
        <div class="label3 EudoxusSansReg">₦889.00</div>
      </div> -->
    </div>
    <div style="text-align: center;">
      <ion-button style="margin-top: 5%;" class="btnmodal EudoxusSansReg">
        Accept Offer</ion-button>
    </div>

  </div>
</ion-content>