.mtxt{
    font-weight: 500;
    font-size: 27px;
    color: #21333B
  }
  .label1{
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
  
    color: #EF3C3C;
    }
   .label2 {
      font-weight: 500;
      font-size: 14px;
      margin-left: 5px;
  
      color:#4BD16F
    }
    .label3 {
      font-weight: 500;
      font-size: 14px;
      margin-left: 5px;
  
      color:#21333B
    }
    .c-flex{
      display: flex;
      align-items: center;
      margin-bottom: 4%;
    }