<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-title style="font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #21333B;
    text-align: center;">Track rates of currencies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div class="wrapper EudoxusSansReg">
    <ion-segment mode="ios" (ionChange)="segmentChanged($event)" #mySegment>
      <ion-segment-button mode="ios" value="Buy">
        <ion-label>Buy</ion-label>
      </ion-segment-button>
      <ion-segment-button checked mode="ios" value="Sell">
        <ion-label>Sell</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="main">
      <div class="container">
        <div class="flexc">
          <div class="txt EudoxusSansReg">USD</div>
          <img src="assets/imgs/doticons.svg">
        </div>
        <div style="display: flex;
        align-items: center;
        justify-content: space-between;">
          <div style="display: flex;
          align-items: center;position: relative;">
            <ion-list>
              <ion-item lines="none">
                <ion-select interface="popover" placeholder="$">
                  <ion-select-option value="apples">#</ion-select-option>
                  <ion-select-option value="oranges">%</ion-select-option>
                  <ion-select-option value="bananas">^</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <div class="txt1">$156.<span style="opacity:47%;font-size: 18px;">50</span>
              <hr>
            </div>
          </div>
          <img src="assets/imgs/calculator.svg">
        </div>


        <div class="half-circle">
        </div>

      </div>

      <div class="container1">
        <div class="flexc">
          <div class="txt EudoxusSansReg">Euro</div>
          <img src="assets/imgs/doticons.svg">
        </div>
        <div style="display: flex;
        align-items: center;
        justify-content: space-between;">
          <div style="display: flex;
          align-items: center;position: relative;">
            <ion-list>
              <ion-item lines="none">
                <ion-select interface="popover" placeholder="€" class="EudoxusSansReg">
                  <ion-select-option value="apples">#</ion-select-option>
                  <ion-select-option value="oranges">%</ion-select-option>
                  <ion-select-option value="bananas">^</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <div class="txt1 EudoxusSansReg">$156.<span style="opacity:47%;font-size: 18px;">50</span>
            </div>
          </div>
        </div>


        <div class="half-circle1">
        </div>

      </div>
      <div class="imgdiv">
        <img src="assets/imgs/reset1.svg">
      </div>
    </div>

    <div style="display: flex;align-items: center;
    justify-content: space-around;margin: 8% 0%;">
      <div class="c-flex">
        <img src="assets/imgs/curricon.svg">
        <div class="label1 EudoxusSansReg">₦889.00</div>
      </div>
      <div class="c-flex">
        <img src="assets/imgs/curricon2.svg">
        <div class="label2 EudoxusSansReg">₦889.00</div>
      </div>
      <div class="c-flex">
        <img src="assets/imgs/curricon3.svg">
        <div class="label3 EudoxusSansReg">₦889.00</div>
      </div>
    </div>

    <div style="display: flex;
    justify-content: space-between;margin-bottom: 3%;">
      <div class="carItem_box">

        <div class="s-text EudoxusSansReg">Market Name</div>

        <div class="cars_label EudoxusSansReg">₦890.00</div>

      </div>
      <div class="carItem_box">

        <div class="s-text EudoxusSansReg">Market Name</div>

        <div class="cars_label EudoxusSansReg">₦890.00</div>

      </div>
      <div class="carItem_box">

        <div class="s-text EudoxusSansReg">Market Name</div>

        <div class="cars_label EudoxusSansReg">₦890.00</div>

      </div>
    </div>

    <div style="display: flex;
    justify-content: space-between;margin-bottom: 1%;">
      <div class="carItem_box">

        <div class="s-text EudoxusSansReg">Market Name</div>

        <div class="cars_label EudoxusSansReg">₦890.00</div>

      </div>
      <div class="carItem_box">

        <div class="s-text EudoxusSansReg">Market Name</div>

        <div class="cars_label EudoxusSansReg">₦890.00</div>

      </div>
      <div class="carItem_box">

        <div class="s-text EudoxusSansReg">Market Name</div>

        <div class="cars_label EudoxusSansReg">₦890.00</div>

      </div>
    </div>


    <ion-button style="margin-top: 5%;" class="btnbggreen EudoxusSansReg" (click)="goNext()">Buy
      APPL</ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-tabs style="top: 10px !important">
    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tabClick()">
        <img class="fabimg" src="assets/imgs/action.svg" />
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/home.svg">
        <ion-label class="tabtext EudoxusSansReg">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/activity.svg">
        <ion-label class="tabtext EudoxusSansReg">Offers</ion-label>

      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <ion-label class="tacttextactive EudoxusSansReg">Track</ion-label>
        <img class="tabline" src="assets/imgs/tabline.svg">
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/contact.svg">
        <ion-label class="tabtextActive EudoxusSansReg">Connect</ion-label>

      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/profile.svg">
        <ion-label class="tabtextActive EudoxusSansReg">Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>