.wrapper{
    width: 90%;
    margin:15% auto 0%;
  }
  .text1{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #4BD16F;
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }
  
  .text2{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #969D9F;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
  }
  