.wrapper{
    width: 90%;
    margin:10% auto;
}   
.text{
    font-weight: 500;
    font-size: 15px;
    color: #000;
}
.btxt{
    color: #121826;
    font-weight: 700;
    font-size: 24px;
  }
  .utxt{
    font-weight: 700;
    font-size: 18px;   
    color: #121826; 
  }
  .para{
    font-weight: 400;
    font-size: 14px;
    color: #6C727F;
    margin-top: 2%;
  }