.wrapper{
    width: 95%;
    margin: 5% auto 30%;
  }
ion-segment {
    border-radius: 16px;
    --background: transparent !important;
    width: 100%;
    font-family: "EudoxusSansReg" !important;
    margin-top: 2%;
    ion-segment-button {
      --border-width: 0;
      --margin-bottom: 5px;
      --margin-top: 5px;
      border-radius: 24px;
      --background-checked:#4BD16F;
      --indicator-color: transparent !important;
      --color: #969D9F;
      --color-checked:#FFFFFF;
      font-size: 14px;
      font-weight: 700;
      --indicator-box-shadow: none;
      --background: #fff;
      margin-right: 5%;
    }
  }
  .box{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 4px 0px 6px 0px;
    margin: 15px 0px;
  }
  .flex-c{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .text1{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #21333B;
  }
  .text2{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #BED6C4;
  }
  .text3{
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #969D9F;
  }
  .text4{
    font-weight: 700;
    font-size: 14px;
    color: #21333B;
    margin: 3px 0px 0px 0px;
  }
  .para{
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #969D9F;
    margin-left: 4px;
  }
/// ////////// every tab bar page need this
///


ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
    // top: 88%;
    bottom: 35px;
		ion-fab-button {
      --box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
      --background: #4bd16f;
      height: 64px;
      width: 64px;
      position: absolute;
      bottom: 8px;
      left: -7px;
		}
	}
	ion-tab-bar {
    --border: 0;
    --background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 105px;
    height: 63px;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
      background:#fff;
      ion-icon{
        color:#42474F;
      }
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {
			width: 72px;
			margin-top: 19px;
			path{
        fill:#fff;
			}
		}
	}

}

.fabimg{
  height: 125px;
  width: 28px;
  margin-bottom: -47px;
  object-fit: cover;
}

.tabtext{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.481818px;
  color: #BED6C4;
}

.tabtextActive{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.481818px;
  color: #000000;
}
.tacttext{
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  align-items: center;
  font-size: 14px;
  color: #BED6C4;
}

.tabline{
  width: 18px;
  height: 4px;
}

.header-md::after {
  left: 0;
  bottom: -5px;
  background-position: left 0 top -2px;
  position: absolute;
  width: 100%;
  height: 5px;
  background-image: none;
  background-repeat: repeat-x;
  content: "";
}