<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row>
      <ion-col size="4">

      </ion-col>
      <ion-col size="4">
        <div class="text EudoxusSansReg">Profile</div>
      </ion-col>
      <ion-col size="4">
        <div class="text1 EudoxusSansReg" (click)="goto()">Edit Profile</div>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div style="margin-bottom: 30%;">
    <ion-row style=" width: 95%;
    margin: 0% auto;">
      <ion-col size="3">
        <img src="assets/signup/user.svg" *ngIf="userprofile==null">
        <img src="https://portal.swapcircle.trade/public/{{userprofile}}" *ngIf="userprofile!=null" width="80"
          height="80" style="border-radius: 90%;">
      </ion-col>
      <ion-col size="9">
        <div style="margin-top:7%;">
          <p style="font-style: normal;
          font-weight: 700;
          font-size: 18px;
          color: #121826;" class="EudoxusSansReg">Hi, {{first_name}} {{last_name}}</p>
          <div style="display: flex;
          align-items: center;
          margin-top:3%;">
            <img src="assets/imgs/sms.svg">
            <p style="font-weight: 400;
            font-size: 14px;
            color: #969D9F;
            margin-left: 2%;" class="EudoxusSansReg">{{email}}</p>
          </div>

        </div>
      </ion-col>

    </ion-row>

    <ion-row style="background: #fff;
    padding: 10px;
    border-radius: 16px;
    width: 92%;
    margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/gift1.svg">
      </ion-col>
      <ion-col size="10" style="padding-left: 0px;">
        <div>
          <div style="display: flex;
          align-items: center;
          justify-content: space-between;" (click)="copy()">
            <p style="font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #4BD16F;" class="EudoxusSansReg">Referral Code</p>
            <div style="display: inline-flex;
            align-items: center;
            margin-right: 5%;">
              <p style=" font-size: 14px;" class="EudoxusSansReg">{{referalcode}}</p>
              <img src="assets/imgs/copy.png" alt="" style="height: 14px;
              width: 18px;
              margin-left: 10px;" *ngIf="!copied">
              <img src="assets/imgs/copy2.png" alt="" style="height: 12px;
               width: 16px;
               margin-left: 10px;" *ngIf="copied">
            </div>

          </div>

          <div style="display: inline-flex;
          align-items: center;
          margin-top: 3px;">
            <p style="font-weight: 500;
            font-size: 12px;
            color: #4BD16F;
            margin-top: 2%;" class="EudoxusSansReg">Share your friend get $20 of free stocks</p>
            <ion-icon name="share-social-outline" style="margin-left: 5px;
            margin-top: 5px;" (click)="socialshare()"></ion-icon>
          </div>



        </div>
      </ion-col>

    </ion-row>

    <div style="margin-top: 8%;" class="EudoxusSansReg">
      <ion-row style="align-items: center;
        width: 95%;
        margin: 4% auto;" (click)="addpayout()">
        <ion-col size="10" class="textimgdiv">
          <img src="assets/imgs/picon1.svg">
          <p class="p1">Payout Methods</p>
        </ion-col>
        <ion-col size="2" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row>
      <ion-row style="align-items: center;
        width: 95%;
        margin: 4% auto;" (click)="transaction()">
        <ion-col size="10" class="textimgdiv">
          <img src="assets/imgs/transaction.svg">
          <p class="p1">Transactions</p>
        </ion-col>
        <ion-col size="2" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row>
      <ion-row style="align-items: center;
        width: 95%;
        margin: 4% auto;">
        <ion-col size="8.5" class="textimgdiv">
          <img src="assets/imgs/picon2.svg">
          <p class="p1">Language</p>
        </ion-col>
        <ion-col size="2.5" style="padding-bottom: 0px;">
          <div style="font-weight: 700;
        font-size: 14px;color: #969D9F;">English</div>
        </ion-col>
        <ion-col size="1" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row>
      <ion-row style="align-items: center;
        width: 95%;
        margin: 4% auto;" (click)="settings()">
        <ion-col size="10" class="textimgdiv">
          <img src="assets/imgs/picon3.svg">
          <p class="p1">Settings</p>
        </ion-col>
        <ion-col size="2" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row>
      <ion-row style="align-items: center;
        width: 95%;
        margin: 4% auto;" (click)="faq()">
        <ion-col size="10" class="textimgdiv">
          <img src="assets/imgs/picon4.svg">
          <p class="p1">FAQ</p>
        </ion-col>
        <ion-col size="2" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row>
      <ion-row style="align-items: center;
      width: 95%;
      margin: 4% auto;" (click)="delete()">
        <ion-col size="10" class="textimgdiv">
          <img src="assets/imgs/picon3.svg">
          <p class="p1">Delete Account</p>
        </ion-col>
        <ion-col size="2" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row>
      <ion-row style="align-items: center;
      width: 95%;
      margin: 4% auto;" (click)="logout()">
        <ion-col size="10" class="textimgdiv">
          <img src="assets/imgs/picon3.svg">
          <p class="p1">Logout</p>
        </ion-col>
        <ion-col size="2" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row>
      <!-- <ion-row style="align-items: center;
        width: 95%;
        margin: 4% auto;" (click)="feedback()">
        <ion-col size="10" class="textimgdiv">
          <img src="assets/imgs/picon4.svg">
          <p class="p1">FeedBack</p>
        </ion-col>
        <ion-col size="2" class="icon-right">
          <img src="assets/imgs/chevron-right.svg">
        </ion-col>
      </ion-row> -->
    </div>

    <ion-row style="background: #4BD16F;
      padding: 10px;
      border-radius: 24px;
      width: 92%;
      margin: 10% auto;
      align-items: center;" (click)="feedback()">
      <ion-col size="2.5">
        <img src="assets/imgs/headphone.svg">
      </ion-col>
      <ion-col size="7.5">
        <div>
          <p style="font-style: normal;
          font-weight: 500;
          font-size: 12px;
          color: #FFFFFF;" class="EudoxusSansReg">We'd love to hear your feedback on threads, if you have any?</p>
        </div>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <img src="assets/imgs/chevron-right.svg">
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-tabs style="top: 10px !important">
    <!-- <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tabClick()">
        <img class="fabimg" src="assets/imgs/action.svg" />
      </ion-fab-button>
    </ion-fab> -->

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/home.svg">
        <ion-label class="tabtext EudoxusSansReg">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/activity.svg">
        <ion-label class="tabtext EudoxusSansReg">Offers</ion-label>

      </ion-tab-button>

      <ion-tab-button (click)="tabClick()">
        <img src="assets/imgs/track1.svg">
        <ion-label class="tabtext EudoxusSansReg">Track</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/contact.svg">
        <ion-label class="tabtext EudoxusSansReg">Connect</ion-label>

      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/profilea.svg">
        <ion-label class="tabtextActive EudoxusSansReg">Profile</ion-label>
        <img class="tabline" src="assets/imgs/tabline.svg">
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>