/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import 'swiper/scss';
@import '@ionic/angular/css/ionic-swiper';
@import 'swiper/scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';
@import 'swiper/scss/scrollbar';
@import 'swiper/scss/zoom';
@import '@ionic/angular/css/ionic-swiper';

@font-face {
  font-family: "EudoxusSansReg";
  font-style: normal;
  font-weight: lighter;
  src: url("assets/fonts/EudoxusSansReg.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

ion-toolbar{
  --padding-top: 15px;
}
.swiper-pagination-bullet {
  margin: 0 4px;
  width: 24px;
  height: 2px;
  border-radius: 0px;
 opacity: 0.5;
  --bullet-background:rgb(255, 255, 255) !important;
  // note: A color having opacity makes problem
}
.swiper-pagination-bullet-active {
  opacity: 1;
  --bullet-background-active:white !important;
  width: 24px !important;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  bottom: 3px !important;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.EudoxusSansReg {
  font-family: "EudoxusSansReg" !important;
}

.img{
  width: 21.5px;
  height: 21.5px;
}
.activeimg{
    width: 21.5px;
    height: 21.5px;
}

.slide{
  width: 100% !important;
}



.swiper-pagination-bullet-active {
  background: #4BD16F !important;
  width: 20px;
  height: 8px;
  border-radius: 6px;
  margin-top: 150px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 8px;
  border-radius: 6px;
  background: #BED6C4;
  margin-top: 150px;
}


.btnsimple{
  height: 48px;
  text-transform:none !important;
    --border-width: 2px;
    --border-radius: 28px;
    --background: #15d31500;

    --background-activated: #531C7C36;
    --background-focused: #531C7C36;
    --background-hover: #531C7C36;

    --border-color: white;
    --border-style: solid;
    width: 106px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}


.btnbggreen{
  text-transform:none !important;
  height: 64px;
      --background: #4BD16F;

      --background-activated: #43af60;
      --background-focused: #43af60;
      --background-hover: #43af60;

    opacity: 0.8;
    --border-radius: 24px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.btnsimplegreen{
  height: 64px;
  text-transform:none !important;
    --border-width: 2px;
    --border-radius: 24px;
    --background: #43af6000;

    --background-activated: #43af6027;
    --background-focused: #43af6027;
    --background-hover: #43af6027;

    --border-color:#4BD16F;
    --border-style: solid;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #4BD16F;
}



  .inputfieldtransparent{
    background: rgba(0, 0, 0, 0);
    border: 1.5px solid #F4F4F6;
    border-radius: 24px;
  }
  .input{
       --placeholder-opacity: 1;
       --placeholder-font-weight: 400;
       font-weight: 400;
       font-size: 16px;
       letter-spacing: -0.3px;
       color: #969D9F !important;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 26px;
       --color: #969D9F !important;
 }

 input{
  width: 100%;
    border-radius: 0px 20px 20px 0px;
    background: no-repeat;
    border: none;
    box-shadow: none;
    outline: none;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Popupclass{
  --background: rgba(0, 0, 0, 0.9) !important;
}
.otp-input{
  margin-right: 8px  !important;
  background: #4BD16F  !important;
  border-radius: 130px  !important;
  color: #fff  !important;
  height: 70px  !important;
  width: 70px  !important;
}
// .otp-input:focus-within {
//   background: #ffffff !important;
// }

///// modal
ion-modal#example-modal {
  --width: fit-content;
  --min-width: 290px;
  --height: fit-content;
  --border-radius:17px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.6) !important;
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

// ion-modal#example-modal ion-icon {
//   margin-right: 6px;

//   width: 48px;
//   height: 48px;

//   padding: 4px 0;

//   color: #aaaaaa;
// }

ion-modal#example-modal .container {
  padding: 20px 15px;
}
.offer-modal{
  --width: fit-content;
  --min-width: 290px;
  --height: 45%;
  --border-radius:17px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.6) !important;
  h1{
    
      margin: 20px 20px 10px 20px;
    
  }
  .container {
    padding: 20px 15px;
  }
}
.btnmodal{
  text-transform:none !important;
  height: 64px;
  --background: #4BD16F;

  --background-activated: #43af60;
  --background-focused: #43af60;
  --background-hover: #43af60;

    opacity: 0.8;
    --border-radius: 24px;
    width:236px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.loading-wrapper.sc-ion-loading-md {
  border-radius: 2px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: none !important;
  box-shadow: none !important;
}
.swiper .swiper-slide {
  display: inline !important;
}

.custom-search .searchbar-clear-icon {
  display: none;
}
.searchbar-search-icon { display:none; width:0; height:0; }
.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
  padding-left: 8px;
  color: #969D9F;
  font-size: 16px !important;
}
ion-searchbar{
  font-family: "EudoxusSansReg" !important;
}
.sc-ion-searchbar-ios-h {
  --placeholder-opacity: 1 !important;
}

.custom-select .select-text {
  margin-right: 20px; /* Adjust this value as needed */
}