.wrapper{
    width: 93%;
    margin: 2% auto 30%;
  }
.rowcls{
    background: #FFFFFF;
      border-radius: 25px;
      align-items: center;
      padding: 6px 0px 6px 6px;
      margin-top: 5%;
      margin-bottom: 4%;
  }
  
  .text1{
    font-weight: 700;
    font-size: 16px;
    color: #121826;
    
  }
  .text2{
    font-weight: 700;
    font-size: 12px;
    color: #121826;
    margin-top: 3%;
  }
  .price{
    font-weight: 500;
    font-size: 14px;
    color: #4BD16F;
  }
  .red{
    color: #EF3C3C;
  
  }