<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
    font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Transactions</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec">
  <div *ngIf="errortext==true" style="font-weight: 500;
      font-size: 20px;
      color: #21333B;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);" class="EudoxusSansReg">{{errorshow}}</div>
  <div class="wrapper">
    <ion-row *ngFor="let item of transarr" class="rowcls">
      <ion-col size="2.5">
        <img src="/assets/imgs/hlogo.svg" *ngIf="userloginId!=item.from_users_customers_id">
        <img src="/assets/imgs/hlogo1.svg" *ngIf="userloginId==item.from_users_customers_id">
      </ion-col>
      <ion-col size="5.5">
        <div *ngIf="item.from_users_customers">
          <div *ngIf="userloginId!=item.from_users_customers_id">
            <div class="text1">From {{item.from_users_customers.first_name}} {{item.from_users_customers.last_name}}
            </div>
          </div>
        </div>
        <div *ngIf="item.to_users_customers">
          <div *ngIf="userloginId==item.from_users_customers_id">
            <div class="text1">To {{item.to_users_customers.first_name}} {{item.to_users_customers.last_name}}</div>
          </div>
        </div>

        <!-- <div class="text2">Swap - {{item.time}}</div> -->
      </ion-col>
      <ion-col size="4" style="text-align: end;
      right: 10px;">
        <div class="price">{{bcurrsymbol}}{{item.base_amount}}</div>
        <div style="color: #969D9F;
        font-size: 13px;" *ngIf="userloginId!=item.from_users_customers_id">
          ({{item.to_system_currencies}}{{item.to_amount}})</div>
        <div class="price" *ngIf="userloginId==item.from_users_customers_id"
          [class.red]="userloginId==item.from_users_customers_id">
          -({{item.from_system_currencies}}{{item.from_amount}})</div>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngFor="let item of trans" class="rowcls EudoxusSansReg">
      <ion-col size="2">
        <img src="{{item.img}}">
      </ion-col>
      <ion-col size="7">
        <div class="text1">{{item.name}}</div>
        <div class="text2">{{item.time}}</div>
      </ion-col>
      <ion-col size="3" style="text-align: end;
      right: 10px;">
        <div class="price" [class.red]="item.status=='to'">{{item.price}}</div>
      </ion-col>
    </ion-row> -->
  </div>

</ion-content>