<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
      font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Billing/Payment</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div *ngIf="datalength==0" style="font-weight: 500;
  font-size: 20px;
  color: #21333B;
  text-align: center;
  background: #fff;
  padding: 20px;" class="EudoxusSansReg">No Data Found</div>
  <div class="wrapper">

    <ion-row class="rowcls" *ngFor="let item of accounts">
      <ion-col size="2.5">
        <img src="https://portal.swapcircle.trade/public/{{item.user_data.profile_pic}}" style="border-radius: 90px;
        width: 50px;
        height: 50px;">
      </ion-col>
      <ion-col size="8">
        <div class="text1 EudoxusSansReg">{{item.full_name}}</div>
        <div class="text2 EudoxusSansReg">{{item.account_currency.symbol}} {{item.iban}}</div>
      </ion-col>
      <ion-col size="1.5" style="text-align: end;">
        <img src="assets/imgs/arrowforward.svg" style="margin-top: 3px;">
      </ion-col>
    </ion-row>

  </div>

</ion-content>
<ion-footer class="ion-no-border" style="background: #e9f5ec;">
  <div style="width:93%;margin:0% auto 5%;">
    <ion-button style="margin-top: 5%;" class="btnbggreen EudoxusSansReg" (click)="addaccount()">
      Add Account</ion-button>
  </div>

</ion-footer>