<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width: 96%;
    margin: 0% auto;">
      <ion-col size="3">
        <img src="assets/signup/user.svg" *ngIf="user.profile_pic==null">
        <img src="https://swap.eigix.net/public/{{user.profile_pic}}" *ngIf="user.profile_pic!=null"
          style="border-radius: 90%;width: 70px;height: 70px;">
      </ion-col>
      <ion-col size="6">
        <div style="margin-top:5%;">
          <p style="font-style: normal;
          font-weight: 700;
          font-size: 18px;
          color: #121826;" class="EudoxusSansReg">Hi, {{user.first_name}} {{user.last_name}}</p>
          <div style="display: flex;
          align-items: center;
          margin-top: 5%;">
            <img src="assets/imgs/sun.svg">
            <p style="font-weight: 400;
            font-size: 14px;
            color: #6C727F;" class="EudoxusSansReg">Good Morning</p>
          </div>

        </div>
      </ion-col>
      <ion-col size="3">
        <div style="display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 18%;">
          <img src="assets/imgs/messages-2.svg" (click)="chat()">
          <img src="assets/imgs/notification.svg" (click)="noti()">
        </div>
        <div style="margin-left: -10%;margin-top: 2%;">
          <ion-button class="btn1" (click)="seewallets()">See Wallets</ion-button>
          <!-- <div class="cars_label">See Wallets</div> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec">

  <div class="wrapper EudoxusSansReg">

    <!-- <div>
      <div style="width: 20%;float: left;">
        <div class="carItem_boxfixed" (click)="wallet()">
          <img src="assets/imgs/add-circle.svg" width="17">
          <div class="label EudoxusSansReg">Create Wallet</div>
        </div>

      </div>
      <div style="width: 80%;float: left;">
        <swiper pager="false" [config]="{slidesPerView:4.4 ,spaceBetween:9, speed:400}" [pagination]="false"
          style="padding:2px 6px;">
          <ng-template swiperSlide *ngFor="let item of walletslist">
            <div class="carItem_box">
              <div style="display: flex;
              align-items: center;">
                <img src="https://swap.eigix.net/public/{{item.currency.country.image}}">
                <div class="s-text EudoxusSansReg">{{item.currency.country.code}}</div>
              </div>

              <div class="cars_label EudoxusSansReg">{{item.currency.symbol}}{{item.wallet_amount}}</div>

            </div>
          </ng-template>

        </swiper>
      </div>
      <div class="clear"></div>
    </div> -->

    <div style="display: flex;align-items: center;">

      <div class="carItem_boxfixed" (click)="wallet()">
        <img src="assets/imgs/add-circle.svg" width="17">
        <div class="label EudoxusSansReg">Create Wallet</div>
      </div>


      <div style="display: flex;
        overflow-x: scroll;">

        <div *ngFor="let item of walletslist" style="padding: 0px 6px;">
          <div class="carItem_box">
            <div style="display: flex;
              align-items: center;">
              <img src="https://swap.eigix.net/public/{{item.currency.country.image}}">
              <div class="s-text EudoxusSansReg">{{item.currency.country.code}}</div>
            </div>

            <div class="cars_label EudoxusSansReg">{{item.currency.symbol}}{{item.wallet_amount}}</div>

          </div>
        </div>


      </div>

    </div>

    <ion-segment [scrollable]="true" (ionChange)="segmentChanged($event)" #mySegment SwipedTabs>
      <ion-segment-button mode="ios" value="AllTransactions">
        <ion-label>All Transactions</ion-label>
      </ion-segment-button>
      <ion-segment-button checked mode="ios" value="HotSwapOffers">
        <ion-label>🔥 Hot Swap Offers</ion-label>
      </ion-segment-button>
      <ion-segment-button checked mode="ios" value="RateTable">
        <ion-label>Rate Table</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="requestsType=='AllTransactions'">
      <!-- <ion-row *ngFor="let item of trans" class="rowcls">
        <ion-col size="2.5">
          <img src="{{item.img}}">
        </ion-col>
        <ion-col size="6.5">

          <div class="text1">{{item.fromname}}</div>
          <div class="text1">{{item.toname}}</div>
          <div class="text2">{{item.time}}</div>





        </ion-col>
        <ion-col size="3" style="text-align: end;
        right: 10px;">
          <div class="price" [class.red]="item.status=='to'">{{item.price}}</div>
        </ion-col>
      </ion-row> -->

      <ion-row *ngFor="let item of transarr" class="rowcls">
        <ion-col size="2.5">
          <img src="/assets/imgs/hlogo.svg" *ngIf="userloginId!=item.from_users_customers_id">
          <img src="/assets/imgs/hlogo1.svg" *ngIf="userloginId==item.from_users_customers_id">
        </ion-col>
        <ion-col size="5.5">
          <div *ngIf="item.from_users_customers">
            <div *ngIf="userloginId!=item.from_users_customers_id">
              <div class="text1">From {{item.from_users_customers.first_name}} {{item.from_users_customers.last_name}}
              </div>
            </div>
          </div>
          <div *ngIf="item.to_users_customers">
            <div *ngIf="userloginId==item.from_users_customers_id">
              <div class="text1">To {{item.to_users_customers.first_name}} {{item.to_users_customers.last_name}}</div>
            </div>
          </div>

          <!-- <div class="text2">Swap - {{item.time}}</div> -->
        </ion-col>
        <ion-col size="4" style="text-align: end;
        right: 10px;">
          <div class="price">{{bcurrsymbol}}{{item.base_amount}}</div>
          <div style="color: #969D9F;
          font-size: 13px;" *ngIf="userloginId!=item.from_users_customers_id">
            ({{item.to_system_currencies}}{{item.to_amount}})</div>
          <div class="price" *ngIf="userloginId==item.from_users_customers_id"
            [class.red]="userloginId==item.from_users_customers_id">
            -({{item.from_system_currencies}}{{item.from_amount}})</div>
        </ion-col>
      </ion-row>
      <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="transaction()">
        <ion-fab-button>
          <img src="assets/imgs/sending.svg">
        </ion-fab-button>
      </ion-fab>
    </div>

    <div *ngIf="requestsType=='HotSwapOffers'">
      <ion-row *ngFor="let item of trans1" class="rowcls" id="open-sawap-modal">
        <ion-col size="2.5">
          <img src="{{item.img}}">
        </ion-col>
        <ion-col size="6.5">
          <div class="text1">{{item.name}}</div>
          <div class="text2">{{item.time}}</div>
        </ion-col>
        <ion-col size="3" style="text-align: end;
        right: 10px;">
          <div class="price" [class.red]="item.status=='to'">{{item.price}}</div>
        </ion-col>
      </ion-row>
      <ion-button style="margin-top: 5%;" class="btnbggreen EudoxusSansReg" (click)="goNext()">Create Offer</ion-button>

      <!-- modal open-modal -->
      <ion-modal trigger="open-sawap-modal" id="example-modal" #modal>
        <ng-template>
          <div class="container">
            <div class="mtxt EudoxusSansReg">$63.98</div>
            <div class="text EudoxusSansReg">Swap with</div>
            <div class="inputfieldtransparent " style="width:100%;border: 1.5px solid #969D9F !important;"
              (click)="openList()" [class.active]="showcurr==true">
              <div style="display: flex;">
                <input [(ngModel)]="basecurrency" class="input EudoxusSansReg" type="text" placeholder="EURO" readonly>
                <ion-icon style="margin: 17px 17px 17px 15px;color: #4BD16F;font-size: 30px;"
                  name="chevron-down-outline"></ion-icon>
              </div>
              <!-- <img style="margin: 17px 17px 17px 15px" src="/assets/signup/closeeye.svg" /> -->
            </div>

            <div *ngIf="showcurr==true" class="sublist">
              <div *ngFor="let list of currencies; let i=index" (click)="selectcurrency(list,i)">
                <div class="euro-text1 EudoxusSansReg">
                  {{list.curr}}
                </div>
              </div>
            </div>

            <div class="text11 EudoxusSansReg">Total Amount</div>
            <div class="inputfieldtransparent"
              style="width: 100%; height: 64px; margin-bottom:20px; display: flex;border: 1.5px solid #969D9F !important;">
              <input [(ngModel)]="totalamount" class="input EudoxusSansReg" type="text" placeholder="Enter Amount" />
            </div>
            <div style="text-align: center;">
              <ion-button style="margin-top: 5%;" class="btnmodal EudoxusSansReg" (click)="dismiss()">
                Send Offer</ion-button>
            </div>

          </div>
        </ng-template>
      </ion-modal>
    </div>

    <div *ngIf="requestsType=='RateTable'">
      <div class="box EudoxusSansReg">
        <ion-row>
          <ion-col size="6">
            <div class="flex-c">
              <div class="ftext1">£1</div>
              <img src="assets/imgs/reset.svg">
              <div class="ftext1">₦890.00</div>
            </div>
          </ion-col>
          <ion-col size="6">
          </ion-col>
        </ion-row>
        <hr style="background: #E9F5EC;
        width: 92%;">
        <div style="display: flex;align-items: center;
        justify-content: space-around;margin:4% 0%;">
          <div class="c-flex">
            <img src="assets/imgs/curricon.svg">
            <div class="label1 EudoxusSansReg">₦889.00</div>
          </div>
          <div class="c-flex">
            <img src="assets/imgs/curricon2.svg">
            <div class="label2 EudoxusSansReg">₦889.00</div>
          </div>
          <div class="c-flex">
            <img src="assets/imgs/curricon3.svg">
            <div class="label3 EudoxusSansReg">₦889.00</div>
          </div>
        </div>
      </div>
    </div>



  </div>

</ion-content>

<ion-footer>
  <ion-tabs style="top: 10px !important">
    <!-- <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tabClick()">
        <img class="fabimg" src="assets/imgs/action.svg" />
      </ion-fab-button>
    </ion-fab> -->

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/homea.svg">
        <ion-label class="tabtextActive EudoxusSansReg">Home</ion-label>
        <img class="tabline" src="assets/imgs/tabline.svg">
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/activity.svg">
        <ion-label class="tabtext EudoxusSansReg">Offers</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tabClick()">
        <img src="assets/imgs/track1.svg">
        <ion-label class="tabtext EudoxusSansReg">Track</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/contact.svg">
        <ion-label class="tabtext EudoxusSansReg">Connect</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/profile.svg">
        <ion-label class="tabtext EudoxusSansReg">Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>