

.wrapper{
  width: 93%;
  margin: 2% auto 30%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-text {
  text-align: center;
}
ion-segment {
  border-radius: 16px;
  --background: transparent !important;
  width: 100%;
  font-family: "EudoxusSansReg" !important;
  margin-top: 2%;
  ion-segment-button {
    --border-width: 0;
    --margin-bottom: 5px;
    --margin-top: 5px;
    border-radius: 24px;
    --background-checked:#4BD16F;
    --indicator-color: transparent !important;
    --color: #969D9F;
    --color-checked:#FFFFFF;
    font-size: 14px;
    font-weight: 700;
    --indicator-box-shadow: none;
    --background: #fff;
    margin-right: 2%;
  }
}
.btn1{
  text-transform: none !important;
    --background: #4BD16F;
    opacity: 0.8;
    --border-radius: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    max-width: fit-content;
    height: 25px;
}
.rowcls{
  background: #FFFFFF;
    border-radius: 25px;
    align-items: center;
    padding: 6px 0px 6px 6px;
    margin-top: 5%;
    margin-bottom: 4%;
}

.text1{
  font-weight: 700;
  font-size: 16px;
  color: #121826;
}

.text1_cr{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #21333B;
}
.text2{
  font-weight: 700;
  font-size: 12px;
  color: #121826;
}

.text2_cr{
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #BED6C4;
}
.text3{
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #969D9F;
}
.text4{
  font-weight: 700;
  font-size: 14px;
  color: #21333B;
  margin: 3px 0px 0px 0px;
}
.price{
  font-weight: 500;
  font-size: 14px;
  color: #4BD16F;
}
.red{
  color: #EF3C3C;

}
.c-badge{
  background: none;
  left: 22%;
  bottom: 35%;
  float: right;
  border-radius: 90px;
  width: 18px;
  height: 18px;
  font-size: 10px;
  padding: 4px 5px;
  color: #fff;
  margin-top: 12px;
  margin-right: 2px;
  position: absolute;
}


.carItem_box{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding: 8px 8px 8px 5px;
  // box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
  width: fit-content !important;
  inline-size: max-content !important;
}
.cars_label{
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-align: left;
  padding-top: 2px;
}
.s-text{
  font-weight: 500;
  font-size: 10px;

  text-align: left;

  color: #21333B;
  margin-left: 3px;
}
.carItem_box img{
  border-radius: 5px;
  width: 20px;
}

.carItem_boxfixed{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding: 12px 8px;
  // box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
  display: flex;
  align-items: center;
  border: 1px dashed #4BD16F;
  min-width: max-content;
}
.label{
  font-weight: 500;
  font-size: 10px;
  color: #000000;
  text-align: center;
  margin-left: 8%;
}

.box{
  background: #FFFFFF;
  border-radius: 16px;
  padding: 4px 0px 4px 0px;
  margin: 15px 0px;
}
.flex-c{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ftext1{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #21333B;
}
.label1{
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;

  color: #EF3C3C;
  }
 .label2 {
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;

    color:#4BD16F
  }
  .label3 {
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;

    color:#21333B
  }
  .c-flex{
    display: flex;
    align-items: center;
  }

  ion-badge{
    float: right;
    border-radius: 90px;
    width: 18px;
    height: 18px;
    font-size: 10px;
    padding: 4px 5px;
    background: #4BD16F;
    color: #fff;
    margin-top: 12px;
    margin-right: 2px;
}
.clear{
  clear: both;
}
ion-fab{
    bottom: 80px;
    right: 20px;
    position: fixed;
}
ion-fab-button{
    --background: #4BD16F;
    --color: #fff;
}
  ///modal css///
  .mtxt{
    font-weight: 500;
    font-size: 27px;
    color: #4BD16F;
    text-align: center;
    margin-bottom: 5%;
  }

  .mtxt_offer{
    font-weight: 500;
    font-size: 27px;
    color: #21333B
  }

  .mtxt1{
    font-weight: 500;
    font-size: 14px;
    color: #21333B
  }
  .text{
    font-weight: 500;
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .text11{
      font-weight: 500;
      font-size: 15px;
      color: #000;
      margin-bottom: 10px;
      margin-left: 3px;
      margin-top: 20px;
  }
  .sublist{
      padding-left: 20px;
      height: auto;
      overflow: scroll;
      border-radius: 0px;
      border: 1.5px solid #969D9F !important;
      padding-bottom: 10px;
  }
  input{
      padding-left: 20px;
  }
  input::placeholder {
      color: #21333B !important;
      opacity: 0.5;
    }
    .euro-text1 {
      color: #21333B;
      font-size: 16px;
      margin-top: 10px;
    }
    .active{
      border-radius: 24px 24px 0px 0px
    }
////////////////////////
/// /////////
/// ///////
/// ////////
/// ////////// every tab bar page need this
///
/// ////////////////////////
/// /////////
/// ///////
/// ////////

ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
    // top: 88%;
    bottom: 35px;
		ion-fab-button {
      --box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
      --background: #4bd16f;
      height: 64px;
      width: 64px;
      position: absolute;
      bottom: 8px;
      left: -7px;
		}
	}
	ion-tab-bar {
    --border: 0;
    --background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 105px;
    height: 78px;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
      background:#fff;
      ion-icon{
        color:#42474F;
      }
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {
			width: 72px;
			margin-top: 19px;
			path{
        fill:#fff;
			}
		}
	}

}

.fabimg{
  height: 125px;
  width: 28px;
  margin-bottom: -47px;
  object-fit: cover;
}

.tabtext{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.481818px;
  color: #BED6C4;
}

.tabtextActive{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.481818px;
  color: #000000;
}
.tacttext{
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  align-items: center;
  font-size: 14px;
  color: #BED6C4;
}

.tabline{
  width: 18px;
  height: 4px;
}

.header-md::after {
  left: 0;
  bottom: -5px;
  background-position: left 0 top -2px;
  position: absolute;
  width: 100%;
  height: 5px;
  background-image: none;
  background-repeat: repeat-x;
  content: "";
}


////////////////////////
/// /////////
/// ///////
/// ////////
/// ////////// every tab bar page need this
///
/// ////////////////////////
/// /////////
/// ///////
/// ////////
