<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq-H55pCyDTvP7t4WwMc9Yah9GqJqKbzo</string>
	<key>GCM_SENDER_ID</key>
	<string>869462972334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swapcircle.app</string>
	<key>PROJECT_ID</key>
	<string>swapcircle-e3bb6</string>
	<key>STORAGE_BUCKET</key>
	<string>swapcircle-e3bb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869462972334:ios:9ccaf3982d3a84fb785a3f</string>
</dict>
</plist>