<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
      font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Settings</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div class="wrapper EudoxusSansReg">
    <div class="flex-c">
      <div>
        <div class="text1">Notification</div>
        <div class="text2">Enable Notification</div>
      </div>

      <ion-toggle class="ctoggle" (ionChange)="changed($event)" *ngIf="notichecked=='false'"></ion-toggle>
      <ion-toggle class="ctoggle" (ionChange)="changed($event)" *ngIf="notichecked=='true'" checked></ion-toggle>
    </div>

    <div class="flex-c">
      <div>
        <div class="text1">Face Id/Biometric</div>
        <div class="text2">Enable Face Id/Biometric</div>
      </div>

      <ion-toggle class="ctoggle" (ionChange)="changedId($event)" checked *ngIf="api.fpval=='true'"></ion-toggle>
      <ion-toggle class="ctoggle" (ionChange)="changedId($event)" *ngIf="api.fpval=='false'"></ion-toggle>
    </div>

    <div class="text3 EudoxusSansReg">Session Expired</div>

    <ion-list lines="none" style=" width: 100%;background: none;margin-top:3%;">
      <ion-item lines="none" class="EudoxusSansReg">
        <ion-select interface="action-sheet" placeholder="Choose Time Interval" style="width: 100%;
        height: 64px;--placeholder-opacity: 1 !important;" (ionChange)="handleChange($event)">
          <ion-select-option value="1">1 minute</ion-select-option>
          <ion-select-option value="2">2 minute</ion-select-option>
          <ion-select-option value="3">3 minute</ion-select-option>
          <ion-select-option value="4">4 minute</ion-select-option>
          <ion-select-option value="5">5 minute</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>


</ion-content>