<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #e9f5ec;">
    <ion-row style="width:95%;margin: 0% auto;">
      <ion-col size="2">
        <img src="assets/imgs/arrow_back_ios_new.svg" style="margin-top: 3px" (click)="goback()">
      </ion-col>
      <ion-col size="8">
        <div style="font-weight: 700;
      font-size: 20px;color: #21333B;text-align: center;" class="EudoxusSansReg">Send Currency</div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e9f5ec;">
  <div class="wrapper">
    <div style="display: flex;align-items: center;
    justify-content: space-between;margin-bottom: 10px;">
      <div class="ftext EudoxusSansReg">Base Currency</div>
      <div class="EudoxusSansReg" style="font-weight: 500;
      font-size: 14px;
      color: #000;">{{basecurrency}}</div>
    </div>
    <!-- <div class="text1 EudoxusSansReg">Base Currency</div>
    <div class="inputfieldtransparent"
      style="width: 100%; height: 64px; margin-bottom:20px; display: flex;border: 1.5px solid #969D9F !important;">
      <ion-input [(ngModel)]="basecurrency" class="input EudoxusSansReg" type="text" placeholder=""
        (ionInput)="Examount($event)" id="myInput" readonly></ion-input>
    </div> -->

    <div class="text EudoxusSansReg">From Currency</div>
    <div class="inputfieldtransparent " style="width:100%;border: 1.5px solid #969D9F !important;" (click)="openList()"
      [class.active]="showcurr==true">
      <div style="display: flex;">
        <!-- <input [(ngModel)]="fromcurrency" class="input EudoxusSansReg" type="text" placeholder="Select Currency"
          readonly> -->
        <ion-searchbar mode="ios" placeholder="Search" (input)="onSearch($event)" [(ngModel)]="fromcurrency"
          class="custom-search"></ion-searchbar>
        <ion-icon style="margin: 17px 17px 17px 15px;color: #4BD16F;font-size: 30px;"
          name="chevron-down-outline"></ion-icon>
      </div>
      <!-- <img style="margin: 17px 17px 17px 15px" src="/assets/signup/closeeye.svg" /> -->
    </div>

    <div *ngIf="showcurr==true" class="sublist" style="height: 150px;overflow: scroll;">
      <div *ngFor="let list of walletslist| filter:fromcurrency; let i=index" (click)="selectcurrency(list,i)">
        <div class="euro-text1 EudoxusSansReg">
          {{list.currency.symbol}} <b style="font-weight: 400;
          padding: 0px 1px;">-</b><span style="font-size: 12px;padding-left: 2px;">{{list.currency.code}}</span>
        </div>
      </div>
    </div>

    <div class="text1 EudoxusSansReg">Total Amount</div>
    <div class="inputfieldtransparent"
      style="width: 100%; height: 64px; margin-bottom:20px; display: flex;border: 1.5px solid #969D9F !important;">
      <ion-input [(ngModel)]="totalamount" class="input EudoxusSansReg" type="number" placeholder="Enter Amount"
        (ionInput)="Examount($event)" id="myInput"></ion-input>
    </div>

    <div class="text EudoxusSansReg">Exchange Currency</div>
    <div class="inputfieldtransparent " style="width:100%;border: 1.5px solid #969D9F !important;"
      (click)="openexcList()" [class.active]="showexccurr==true">
      <div style="display: flex;">
        <!-- <input [(ngModel)]="excurrency" class="input EudoxusSansReg" type="text" placeholder="Select Currency" readonly> -->
        <ion-searchbar mode="ios" placeholder="Search" (input)="onSearch2($event)" [(ngModel)]="excurrency"
          class="custom-search"></ion-searchbar>
        <ion-icon style="margin: 17px 17px 17px 15px;color: #4BD16F;font-size: 30px;"
          name="chevron-down-outline"></ion-icon>
      </div>
      <!-- <img style="margin: 17px 17px 17px 15px" src="/assets/signup/closeeye.svg" /> -->
    </div>

    <div *ngIf="showexccurr==true" class="sublist" style="height: 150px;overflow: scroll;">
      <div *ngFor="let list of currencies| filter:excurrency; let i=index" (click)="selectexcurrency(list,i)">
        <div class="euro-text1 EudoxusSansReg">
          {{list.symbol}} <b style="font-weight: 400;
          padding: 0px 1px;">-</b><span style="font-size: 12px;padding-left: 2px;">{{list.code}}</span>
        </div>
      </div>
    </div>

    <div style="display: flex;align-items: center;
    margin-top: 4%;">
      <div class="etxt">Exchange Rate</div>
      <div class="btxt" *ngIf="amountshow==true">{{excurrsymbol}} {{convertedrate}}.<b
          style="opacity:47%;font-size: 18px;">{{rateafterpoint}}</b>
      </div>
    </div>

    <div style="display: flex;align-items: center;
    margin-top: 4%;">
      <div class="etxt">Exchange Amount</div>
      <div class="btxt" *ngIf="amountshow==true">{{excurrsymbol}} {{convertedamount}}.<b
          style="opacity:47%;font-size: 18px;">{{amountafterpoint}}</b>
      </div>
    </div>

    <div class="text1 EudoxusSansReg">Send to</div>
    <div class="inputfieldtransparent"
      style="width: 100%; height: 64px; display: flex;margin-bottom: 20px;border: 1.5px solid #969D9F !important;"
      [class.active]="emailsshow==true">
      <ion-input [(ngModel)]="email" class="input EudoxusSansReg" type="text" placeholder="Enter Email"
        (ionInput)="eventHandler($event)"></ion-input>
    </div>

    <div *ngIf="emailsshow==true" class="sublist">
      <div *ngFor="let item of listofuser; let i=index" (click)="selectemail(item,i)">
        <div class="euro-text1 EudoxusSansReg">
          {{item.email}}
        </div>
      </div>
    </div>
    <div class="text EudoxusSansReg">Select Country</div>
    <div class="inputfieldtransparent " style="width:100%;border: 1.5px solid #969D9F !important;"
      (click)="openCountryList()" [class.active]="showcountry==true">
      <div style="display: flex;">
        <input [(ngModel)]="country" class="input EudoxusSansReg" type="text" placeholder="Select Country" readonly>
        <ion-icon style="margin: 17px 17px 17px 15px;color: #4BD16F;font-size: 30px;"
          name="chevron-down-outline"></ion-icon>
      </div>
      <!-- <img style="margin: 17px 17px 17px 15px" src="/assets/signup/closeeye.svg" /> -->
    </div>

    <div *ngIf="showcountry==true" class="sublist" style="height: 150px;overflow: scroll;">
      <div *ngFor="let list of items; let i=index" (click)="selectcountry(list,i)">
        <div class="euro-text1 EudoxusSansReg">
          {{list.name}}
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" style="background: #e9f5ec;">
  <div style="width:93%;margin:0% auto 5%;">
    <ion-button style="margin-top: 5%;" class="btnbggreen EudoxusSansReg" (click)="next()">
      Next</ion-button>
  </div>

</ion-footer>